# System files
.DS_Store
Thumbs.db

# IDE / Editor configuration files
.vscode/
.idea/
*.sublime-workspace

# Node modules & build artifacts
node_modules/
app/node_modules/
.next/
app/.next/
out/
app/out/
.env*.local
*.log